body {
  font-family: sans-serif;
  text-align: center;
  background: #d0e7f9;
  padding: 2rem;
}

select, button {
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
}

#result {
  margin-top: 2rem;
  font-size: 1.2rem;
}
